// $color: #E4F9F5;
// $color: #30E3CA;
// $color: #11999E;
// $color: #40514E;

body {
    box-sizing: border-box;
    margin: 0;
    color: #E4F9F5;
    background-color: #40514E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
